<div class="col-lg-4 mb-5">
    <div class="position-relative mb-4">
        <img class="img-fluid rounded w-100" src="{% static 'img/blog-2.jpg'%}" alt="">
        <div class="blog-date">
            <h4 class="font-weight-bold mb-n1">01</h4>
            <small class="text-white text-uppercase">Jan</small>
        </div>
    </div>
    <h5 class="font-weight-medium mb-4">Muvaffaqiyatga erishish usullari va ularni qo'llashdagi xatoliklar</h5>
    <a class="btn btn-sm btn-outline-primary py-2" href="">Ba'tafsil</a>
</div>
<div class="col-lg-4 mb-5">
    <div class="position-relative mb-4">
        <img class="img-fluid rounded w-100" src="{% static 'img/blog-3.jpg'%}" alt="">
        <div class="blog-date">
            <h4 class="font-weight-bold mb-n1">01</h4>
            <small class="text-white text-uppercase">Jan</small>
        </div>
    </div>
    <h5 class="font-weight-medium mb-4">Ish jarayonidagi ko'ngilsizliklardan xalos bo'lish usullari</h5>
    <a class="btn btn-sm btn-outline-primary py-2" href="">Ba'tafsil</a>
</div>